<script>
$('.carousel').carousel()
</script>


  <div id="myCarousel" class="carousel slide">

	  <!-- Carousel items -->
	  <div class="carousel-inner">
		<div class="active item portfolio-img">
		  <h2>Anarchum</h2>
		  <div class="row">
		  	<div class="span5 offset1">
		  	  <%= image_tag "portfolio/anarchum.png", :class => "portfolio-img box-shadow" %>
		  	</div>

		  	<div class="span5 portfolio-description">
		  	  <a href="http://anarchum.com">http://www.anarchum.com (Under construction)</a>
		  	  <p><br />Anarchum is a Live-Action Roleplaying Game currently under development, and I am building a dynamic web application in Ruby on Rails that will allow players to connect with each other, track their characters' stats, and participate in world-building and storytelling events. Anarchum.com will incorporate a forum, a blog, social networking features, and when the game reaches beta stage, a system that will allow players to record attendence and choose attributes and skills for their characters.</p>
		  	  <p>Please note that the website is still under construction and testing.  You can, however, check out the project's <a href="http://www.github.com/samanthamichele7/anarchum">code repository</a> to get the latest updates.</p>
		  	  <p></p>
		  	</div>
		  </div>
		</div>

	  	<div class="item portfolio-img">
	  		<h2>Master's Degree Portfolio</h2>
	  	  <div class="row">
	  	  
	  	    <div class="span5 offset1">
	    	  <%= image_tag "portfolio/sislt.png", :class => "portfolio-img box-shadow" %>
	        </div>
	      
	        <div class="span5 portfolio-description">
	    	  <a href="http://www.drolldevelopment.com/sislt">http://www.drolldevelopment.com/sislt</a>
	    	    <p><br />As the final requirement of my master's degree, I had to create a portfolio site and submit it for review by a faculty committee.  The following technologies were utilized in the creation of the site:</p>
	    		<ul>
	    		  <li>HTML5</li>
	    		  <li>CSS3</li>
	    		  <li>LESS</li>
	    		  <li>JQuery</li>
	    		  <li>Bootstrap</li>
	    		</ul>
	    	    <p>This website contains academic, rather than commercial, examples of my work.</p>
	        </div>
	      </div>
	    </div>

	    <div class="item portfolio-img">
	      <h2>OnTrack Roller Derby Mobile App</h2>
	        <div class="row">
	          
	          <div class="span5 offset1">
	    	    <%= image_tag "portfolio/ontrack.png", :class => "portfolio-img" %>
	    	  </div>
	        
	          <div class="span5 portfolio-description">	    	
	    	    <a href="http://ontrackrollerderby.com">http://ontrackrollerderby.com</a>
	    	    <p><br />This mobile application was developed for my roller derby team as part of a class master's program.  I worked on a team to build it; the majority of the design was created by the talented <a href="http://portfolio.jefflofting.com/" target="_blank">Jeff Lofting</a>, while I handled most of the JQuery and all of the PHP/MySQl.</p>
	    		<ul>
	    		  <li>HTML5</li>
	    		  <li>CSS3</li>
	    		  <li>JQuery Mobile</li>
	    		  <li>PHP</li>
	    		  <li>MySQL</li>
	    		</ul>
	    	  
	    	    <p>Sadly, I developed plantar fasciitis and had to quit roller derby right around the time this app was finished.  However, the code lives on as a tribute to Smack Daniels, my derby alter ego; you can see the GitHub repo <a href="https://github.com/samanthamichele7/OnTrack" target="_blank">here.</a></p>
	    	  </div>
	        </div>
		</div>

	    <div class="item portfolio-img">
	      <h2>The Hode Group</h2>
	        <div class="row">
	          
	          <div class="span5 offset1">
  	    	    <%= image_tag "portfolio/hode.png", :class => "box-shadow portfolio-img" %>
  	    	  </div>
	    	
	    	  <div class="span5 portfolio-description">	 	
	    	    <a href="http://www.hodegroup.com">http://www.hodegroup.com</a>
	    	    <p><br />The Hode Group, Inc. is a supplier that represents premium manufacturers in the foodservice and hospitality industries.  They hired me as a freelance web developer to redesign their website and provide consulting in content and social media marketing strategies.  I built this site in Wordpress using the Genesis Framework.</p>
	    	  </div>
	    	</div>
	    </div>

	    <div class="item portfolio-img">
	      <h2>Graduate Education Week in Missouri</h2>
	      <div class="row">
	      	<div class="span5 offset1">
	    	  <%= image_tag "portfolio/gradedweek.png", :class => "portfolio-img" %>
	        </div>
	    	
	    	<div class="span5 portfolio-description">	 
	    		<a href="http://www.gradedweek.org">http://www.gradedweek.org</a>
	    		<p><br />Graduate Education Week in Missouri is a statewide initiative to recognize the outstanding achievements and contributions of graduate students, faculty, and alumni each year.The University of Missouri Graduate School asked me to redesign the old site as part of my work for them as their in-house web developer.  I utilized the following technologies while building the new site:</p>
	    		<ul>
	    			<li>HTML5</li>
	    			<li>CSS3</li>
	    			<li>JQuery</li>
	    			<li>PHP</li>
	    			<li>Bootstrap</li>
	    		</ul>
	    		<p>The number of participating universities in Graduate Education Week is up to 24 this year, and every April hundreds of prospective and current graduate students participate in planned events.</p>
	    	</div>
	      </div>
		</div>

	    <div class="item portfolio-img">
	      <h2>Midwestern Association of Graduate Schools</h2>

	      <div class="row">
	      	<div class="span5 offset1">
	    	  <%= image_tag "portfolio/mags.png", :class => "box-shadow portfolio-img" %>
	    	</div>

	    	<div class="span5 portfolio-description">	 
		      <a href="http://www.mags-net.org">http://www.mags-net.org</a>
		      <p><br />The Midwestern Association of Graduate Schools (MAGS) is a regional affiliate of the Council of Graduate Schools that represents schools across the entire midwest.  They hired me to redesign their website and asked me to ensure it was easy for whomever was managing the site to make changes to content.  I built the new site in Wordpress using the Genesis Framework.</p>
		    </div>
		  </div>
	    </div>

	    <div class="item portfolio-img">
	      <h2>Laser Blazed Designs</h2>
		  <div class="row">
		  	<div class="span5 offset1">
     	      <%= image_tag "portfolio/laserblazed.png", :class => "portfolio-img" %>
     	    </div>

	    	<div class="span5 portfolio-description">	 
		    	<a href="http://www.laserblazed.com">http://www.laserblazed.com</a>
		    	<p><br />This e-commerce site was built for Laser Blazed Designs, a laser engraving business that produces premium wood, stone, and acrylic merchandise.  I buit the site with Shopify.</p>
		    </div>
		  </div>
	    </div>

	    <div class="item portfolio-img">
	      <h2>EZ Click Mobile Computer Specialists</h2>	
	      <div class="row">
	    	<div class="span5 offset1">
 	    	  <%= image_tag "portfolio/ezclick.png", :class => "box-shadow portfolio-img" %>
 	    	</div>
	    	<div class="span5 portfolio-description">	 
		    	<a href="http://www.tucsoncomputerrepairs.org">http://www.tucsoncomputerrepair.org</a>
		    	<p><br />I built this site for EZClick Mobile Computer Specialists, a computer repair shop located in Tucson, Arizona.  The owner wanted to increase his web presence and start blogging, so I also provided social media consulting services.  I build the site in Wordpress using the Genesis Framework.</p>
		    </div>
		  </div>
	    </div>	

	    <div class="item portfolio-img">
	      <h2>CoMo Derby Dames</h2>
	      <div class="row">
	      	<div class="span5 offset1">
 	    	  <%= image_tag "portfolio/cmdd.png", :class => "portfolio-img" %>
 	    	</div>

	    	<div class="span5 portfolio-description">	 
		      <a href="http://www.comoderbydames.org">http://www.comoderbydames.org</a>
		      <p><br />I was hired to build this website by CoMo Derby Dames after I had to leave the team due to an injury.  They already had a Wordpress site but were looking for a new look; I developed the theme using the Genesis Framework.</p>
		    </div>
		  </div>	
		</div>



	  	 	    	    	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
