<h1>Blog</h1>
<br />

<% @posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.content.html_safe %></p>

    <% if current_admin %>
      <%= link_to 'Show', post %></td>
      <%= link_to 'Edit', edit_post_path(post) %></td>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>


<br />

<% if current_admin %>
  <%= link_to 'New Post', new_post_path %>
<% end %>