
<% @posts.reverse_each do |post| %>

  <div class="row blog-post">
  	<div class="span3">
  		<br />
  		<p>Posted <%= post.created_at.strftime("%F") %></p>
  		<a href="<%= post_url(post) + '#disqus_thread'%>">View Comments</a>

  	</div>
  	<div class="span9">
      <h3><%= link_to post.title, post %></td></h3>
      <p><%= post.content.html_safe %></p>

	    <% if current_admin %>
	      
	      <%= link_to 'Edit', edit_post_path(post) %></td>
	      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <% end %>

	</div>
   </div>
   <br />
<% end %>


<br />

<% if current_admin %>
  <%= link_to 'New Post', new_post_path %>
<% end %>