<div class="container">
<p id="notice"><%= notice %></p>



<h2>
  <%= @post.title %>
</h2>
<p>
  <b></b>
  <%= @post.name %>
</p>

<p>
  <%= raw@post.content %>
</p>
<br />
<h3>Comments</h3>
<%= render @post.comments %>

<h4>Add a Comment</h4>
<%= render "comments/form" %>


<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>

</div>